<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap css  -->
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form method="post" th:action="@{/logout}">
    <button class="btn btn-danger" type="submit">Logout</button>
</form>


<!-- Jquery -->
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap JS-->
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>